@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

/* https://encycolorpedia.com/8a705a */
$theme: #8a705a;
$light: #ebe6e2;
$inverted: #758fa5;
$olive: #808000;
$sienna: #cc683a;

html, body {
  background-color: #000;
  color: $light;
  font-family: 'Kiwi Maru', serif;
  cursor: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  background-color: #8a705a;
  border-radius: 40px;
  cursor: none;
  height: 100vh;
  width: 100vw;
  text-align: center;

  #time {
    .date {
      position: absolute;
      font-size: 6vw;
      width: 100%;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .times {
      position: absolute;
      font-size: 18vw;
      width: 100%;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  #room {
    font-size: 6vw;

    .temperature {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 65%;
      left: 15%;
    }

    .humidity {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 80%;
      left: 15%;
    }

    .icon {
      margin: 0 .25em;

      svg {
        width: 5vw;
        height: 6vw;
      }
    }

    .value {
      display: inline-block;
    }
  }

  #weather {
    position: absolute;
    display: flex;
    top: 60%;
    right: 14%;

    .main {
      font-size: 15vw;
    }

    .temp-box {
      font-size: 5vw;
      margin: auto;
      .temp-max, .temp-min {
        margin: 0 .5em;
      }

      .temp-max {
        color: $sienna;
      }

      .temp-min {
        color: $inverted;
      }
    }

  }
}
